<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" /> <!-- Dùng cho API < 33 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- Dùng cho API >= 33 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" /> <!-- Các quyền khác nếu cần -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="28"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smart_Planner_project"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".service.SocketService"
            android:exported="false"
            android:stopWithTask="false"
            android:foregroundServiceType="connectedDevice|dataSync" />
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <activity
            android:name=".ChatBoxDetailActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".MainChatActivity"
            android:exported="false" />
        <activity
            android:name=".EventDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Smart_Planner_project" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".RegisActivity"
            android:exported="true" />
        <activity
            android:name=".AttendeeProfile"
            android:exported="true" />
        <activity
            android:name=".EventActivity"
            android:exported="true" />
        <activity
            android:name=".UserDetailActivity"
            android:exported="true" />
        <activity
            android:name=".OrganizerViewActivity"
            android:exported="true" />
        <activity
            android:name=".EventUpdateActivity"
            android:exported="true" />
        <activity
            android:name=".Controller.GMap"
            android:exported="true" />
        <activity
            android:name=".UserSetProfileActivity"
            android:exported="true" />
        <activity
            android:name=".AttendeeListActivity"
            android:exported="true" />
        <activity
            android:name=".UserPreviewActivity"
            android:exported="true" />
        <activity
            android:name=".RoleSelectorActivity"
            android:exported="true" />
        <activity
            android:name=".FilterActivity"
            android:exported="true" />
        <activity
            android:name=".BookingsActivity"
            android:exported="true" />
        <activity
            android:name=".AttendeeProfile"
            android:exported="true" />
        <activity android:name=".NotificationActivity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyANWhS2czqaQi7nqQLLT9tYjw0X_FTk6aA" />
    </application>

</manifest>